<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/4fxxbm4opjd31.jpg);">
  <div class="container">
    <h1>Boss Man Movie Lists</h1>
    <br>
    <p>Make lists of movies and keep track of what you've watched!</p>
    <a class="btn btn-primary" href="#">Add New List</a>
  </div>
</div>


<div class="class">
  <% @lists.each do |list| %>
  <%= link_to list.name, list_path(list) %>

<% end %>
</div>

<%= link_to "Add New List", new_list_path %>
